<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% @posts.each do |post| %>
  <div class="post row clearfix">
    <div class="btn-group">
      <% if user_signed_in? %>
        <div class = "vote">
        <% if current_user.voted_up_on? post %>
          <%= link_to unvote_post_path(post), method: :put do %>
            <span class="fa fa-chevron-up upvoted"></span>
          <% end %>
        <% else %>
          <%= link_to like_post_path(post), method: :put do %>
            <span class="fa fa-chevron-up"></span>
          <% end %>
        <% end %>
        </div>
        <br>
        <% end %>
        <div class = "score">
          <b><span style="font-size: 20px"> <%= post.cached_weighted_score %></span></b>
        </div>
        <% if user_signed_in? %>
        <br>
        <div class="vote">
        <% if current_user.voted_down_on? post %>
          <%= link_to unvote_post_path(post), method: :put do %>
            <span class="fa fa-chevron-down downvoted"></span>
          <% end %>
        <% else %>
          <%= link_to dislike_post_path(post), method: :put do %>
            <span class="fa fa-chevron-down"></span>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
    <h2>
      <div class="post-title">
      <%= link_to post.title, post %><br>
      </div>
      <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %></small>
    </h2>
  </div>
  <hr>
<% end %>




