<div class="post-show">
  <div class="title">
    <h3 style="margin-bottom: 0px">
      <%= @post.title %>
    </h3>
  </div>
  <div class="btn-group">
    <% if user_signed_in? %>
      <div class = "vote">
        <% if current_user.voted_up_on? @post %>
          <%= link_to unvote_post_path(@post), method: :put do %>
            <span class="fa fa-chevron-up upvoted"></span>
          <% end %>
        <% else %>
          <%= link_to like_post_path(@post), method: :put do %>
            <span class="fa fa-chevron-up"></span>
          <% end %>
        <% end %>
			</div>
      <br>
    <% end %>
    <div class = "score">
      <span> <%= @post.cached_weighted_score %></span>
    </div>
    <% if user_signed_in? %>
      <br>
      <div class="vote">
        <% if current_user.voted_down_on? @post %>
          <%= link_to unvote_post_path(@post), method: :put do %>
            <span class="fa fa-chevron-down downvoted"></span>
          <% end %>
        <% else %>
          <%= link_to dislike_post_path(@post), method: :put do %>
            <span class="fa fa-chevron-down"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="user">
    Submitted by <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
  </div>
  <div class="content">
    <%= render partial: "description", locals: {post: @post} %>
  </div>
  <div class="delete">
    <% if user_signed_in? %>
      <% if current_user.posts.exists?(@post.id) %>
        <%= button_to 'Delete post', post_path(@post),
                      method: :delete,
                      confirm: 'Are you sure?' %>
      <% end %>
      <br>
    <% end %>
  </div>
  <%= commontator_thread(@post) %>
</div>
