
<div class="user-profile"> 
  <div class="profile row">
    <div class="col-md-8 basic-info"> 
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if user_signed_in? %>
          <% if current_user == @user %>
            <a class="edit-profile" href="<%= edit_user_registration_path(current_user) %>">
              <button>Edit Profile</button>
            </a>
            <% end %>
          <% end %>
      </div> 
      <ul class="posts"> 
        <li><span><%= @user.posts.length %></span> post<% if @user.posts.length != 1%>s<% end %></li>
      </ul> 
      <h2 class="name"><%= @user.name %></h2>
      <a class="website"><%=@user.website%></a> 
      <%=@user.bio%>
    </div> <br>
    <h2> Posts </h2>
    <div class="user-posts">
      <% @posts.each do |post|%> 
        <div class="wrapper">
          »
          <%=link_to post_path(post) do %> 
            <%= post.title %> 
          <% end %> 
        </div> 
      <% end %>
    </div>
  </div> 
</div>
