<!DOCTYPE html>
<html>
	<head>
		<title>Lex</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
	</head>
	<body>
		<!--Navigation Bar-->
		<nav class="navbar navbar-light bg-light d-flex">
			<div class="container">
				<div class="logo">
					<a class="navbar-brand" href="/">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-inverse fa-gavel fa-stack-1x"></i>
						</span>
						Lex
					</a>
				</div>

				<div class="user-section">
					<% if user_signed_in? %>
						<%= link_to new_post_path, class: "new-post-button", method: :get do %>
							<i class="fa fa-plus"></i>
						<% end %>
						<%= link_to user_path(current_user), class: "user-page-button", method: :get do %>
							<i class="fa fa-heart"></i>
						<% end %>
						<a href="<%= edit_user_registration_path %>">
							<i class="fa fa-user"></i>
						</a>
						<a href="<%= destroy_user_session_path %>">
							<i class="fa fa-sign-out"></i>
						</a>
					<% else %>
						<a href="<%= new_user_session_path %>">
							<i class="fa fa-sign-in"></i>
						</a>
					<% end %>
				</div>
				<div class="m-auto">
					<%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
						<%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: 'search' %>
					<% end %>
				</div>
			</div>
		</nav>

	<!--Main content-->
	<main class="container" style="min-height: 500px;">
		<%= yield %>
	</main>

		<!--Footer-->
		<footer class="container footer">
			<nav class="navbar d-flex">
				<ul>
					<li>Epsilon Hacks Submission, Lexery (perhaps a legal disclaimer will live here some day) </li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
